html{
    width: 100%;
    height: 100%;
}
body{
    background-color: #afe0d8;
    width: 100%;
    height: 100%;
}

header{
   text-align: center;
   font-size: 30px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
figcaption{
    margin-bottom: 10px;
    font-size: 25px;
}

.return{
    text-decoration: none;
    font-size: 20px;
    color: black;
}